{% extends 'general/base.html' %}
{% load static %}

{% block title %}
    {% if object %}
        Редактирование гостя: {{ object.pk }}
    {% else %}
        Добавление гостя
    {% endif %}
{% endblock %}

{% block h %}
    {% if object %}
        Редактирование гостя: {{ object.pk }}
    {% else %}
        Добавление гостя
    {% endif %}
{% endblock %}

{% block content %}
<a class="btn attention mb-3" href="{% url 'home' %}">Назад</a>

{% include 'general/form_with_confirmation.html' %}
{% endblock %}

{% block script %}
{% endblock %}

